<div class="feedback-form">
  <div class="container content-wrapper">
    <div class="heading">
      <h1 class="brand-heading display-4">Feedback : The Blockchain Workshop</h1>
    </div>
    <div class="feedback-form-content">
      <div class="row">
        <div class="col-md-8 col-sm-12">
          <div class="row name">
            <div class="col-6">
              <div class="form-group">
                <label for="fistNameInput">First Name</label>
                <input type="text" class="form-control" id="fistNameInput" placeholder="First Name">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="fistNameInput">Last Name</label>
                <input type="text" class="form-control" id="fistNameInput" placeholder="Last Name">
              </div>
            </div>
          </div>
          <div class="email">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
