<div class="timeline-section">
  <div class="container content-wrapper">
    <div class="heading">
      <h1 class="brand-heading display-4">Timeline of Events</h1>
    </div>
    <div class="timeline-content">
      <div class="timeline">
        <div class="timeline__wrap">
          <div class="timeline__items">
            <div class="timeline__item fadeIn" *ngFor="let event of events; let index = index; let isOdd=odd; let isEven=even">
              <div class="timeline__item__inner">
                <div class="timeline__content__wrap">
                  <div class="timeline__content">
                    <h5>{{event.date}}</h5>
                    <p>{{event.name}}</p>
                    <div class="overlay text-center pointer">
                      <h4 class="text" style="margin-top: 40px">See <br> Pictures</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
