<div class="container-fluid main-container">
  <div id="particles-js" style="height: 100%;">
    <div class="main-jumbotron container-fluid">
      <div class="row jumbotron-row">
        <div class="col col-md-7 text-right h-100 brand-heading-wrapper">
          <h1 class="brand-heading display-3"><img src="img/aceslogoW.png" alt="" height="80px" style="margin-top: -20px"> ACES</h1>
          <h3 class="brand-full display-5">Association of <br> Computer Engineering Students</h3>
        </div>
        <div class="col col-right col-md-5 border-left">
          <div class="event-info" hidden>
            <h4>Next Up: </h4>
            <h5>Node JS coding bootcamp</h5>
            <h6 class="">
              August 5th
              <br> Kamlabai Narsee Hall
              <br> College Name, City,
              <br> State
            </h6>
            <button class="btn btn-outline-light rounded-pill pb-2 mt-2 mb-3">Register for the Event</button>
          </div>
          <div class="event-info">
            <h4>Feedback: </h4>
            <h5>Node JS coding bootcamp</h5>
            <h6 class="">
              August 5th
              <br> Kamlabai Narsee Hall
              <br> College Name, City,
              <br> State
            </h6>
            <button class="btn btn-outline-light rounded-pill pb-2 mt-2 mb-3">Leave us your feedback!</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
